*,
*::after,
*::before{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --ff: "Roboto", sans-serif;
    --colorprimary: #ffffffe6;
    --colorsecondary: #272727;
    --coloraccent: #4169E1;
    --h1: bold 28px/36px var(--ff); 
    --links-and-text: bold 24px/28px var(--ff);
}
body{
    margin: 0px;
    background-color: var(--colorprimary);
    color: var(--colorsecondary);
}
header{
    background-color: var(--coloraccent);
    display: flex;
}
input{
    font: var(--links-and-text);
    flex: 1;
}
h1{
    margin: 0;
    color: var(--colorprimary);
    font: var(--h1);
    flex: 3;
}
a{
    text-decoration: none;   
    font: var(--links-and-text);
}
ul{
    padding:0;
    list-style: none;
    display: flex;
    gap: 10px;
}
li a{
    color: var(--colorsecondary);
}
main{
    display: flex;
    gap: 20px;
}
.movie-cover{
    flex: 1;
}
.movie-cover a{
    color: var(--colorprimary);
    background-color: var(--colorsecondary);
    padding: 20px 40px;
}
img{
    width:100%;
}